<h2 mat-dialog-title>Add User</h2>

@if (loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<form #userForm="ngForm">
  <mat-dialog-content>
    <div class="form-row">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput name="firstName" required [(ngModel)]="user.firstName" #firstName="ngModel" />
        @if (firstName.invalid && firstName.touched) {
          <mat-error>First name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput name="lastName" required [(ngModel)]="user.lastName" #lastName="ngModel" />
        @if (lastName.invalid && lastName.touched) {
          <mat-error>Last name is required</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input
        matInput
        name="birthDate"
        required
        [matDatepicker]="birthdayPicker"
        [(ngModel)]="birthDate"
        #birthDateField="ngModel"
      />
      <mat-datepicker-toggle matIconSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
      @if (birthDateField.invalid && birthDateField.touched) {
        <mat-error>Birth date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required email [(ngModel)]="user.email" #email="ngModel" />
      @if (email.invalid && email.touched) {
        @if (email.errors?.['required']) {
          <mat-error>Email is required</mat-error>
        } @else {
          <mat-error>Please enter a valid email address</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput type="tel" name="phone" required [(ngModel)]="user.phone" #phone="ngModel" />
      @if (phone.invalid && phone.touched) {
        <mat-error>Phone number is required</mat-error>
      }
    </mat-form-field>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput name="street" required [(ngModel)]="user.street" #street="ngModel" />
        @if (street.invalid && street.touched) {
          <mat-error>Street is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field-small">
        <mat-label>House no.</mat-label>
        <input
          matInput
          type="number"
          name="houseNumber"
          required
          min="1"
          [(ngModel)]="user.houseNumber"
          #houseNumber="ngModel"
        />
        @if (houseNumber.invalid && houseNumber.touched) {
          <mat-error>Required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field-small">
        <mat-label>Zip code</mat-label>
        <input
          matInput
          type="number"
          name="zipCode"
          required
          min="1"
          [(ngModel)]="user.zipCode"
          #zipCode="ngModel"
        />
        @if (zipCode.invalid && zipCode.touched) {
          <mat-error>Required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput name="city" required [(ngModel)]="user.city" #city="ngModel" />
        @if (city.invalid && city.touched) {
          <mat-error>City is required</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" [disabled]="loading">Cancel</button>
    <button mat-flat-button (click)="saveUser()" [disabled]="userForm.invalid || loading">Save</button>
  </mat-dialog-actions>
</form>
